MSS_DEMO/Connected Services/ServiceReference/MSSWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMentor">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="listCourse" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMentorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMentorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClass">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="classID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="courseName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClassResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClassResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMentorSoapIn">
    <wsdl:part name="parameters" element="tns:GetMentor" />
  </wsdl:message>
  <wsdl:message name="GetMentorSoapOut">
    <wsdl:part name="parameters" element="tns:GetMentorResponse" />
  </wsdl:message>
  <wsdl:message name="GetClassSoapIn">
    <wsdl:part name="parameters" element="tns:GetClass" />
  </wsdl:message>
  <wsdl:message name="GetClassSoapOut">
    <wsdl:part name="parameters" element="tns:GetClassResponse" />
  </wsdl:message>
  <wsdl:portType name="MSSWSSoap">
    <wsdl:operation name="GetMentor">
      <wsdl:input message="tns:GetMentorSoapIn" />
      <wsdl:output message="tns:GetMentorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClass">
      <wsdl:input message="tns:GetClassSoapIn" />
      <wsdl:output message="tns:GetClassSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MSSWSSoap" type="tns:MSSWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMentor">
      <soap:operation soapAction="http://tempuri.org/GetMentor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClass">
      <soap:operation soapAction="http://tempuri.org/GetClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MSSWSSoap12" type="tns:MSSWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMentor">
      <soap12:operation soapAction="http://tempuri.org/GetMentor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClass">
      <soap12:operation soapAction="http://tempuri.org/GetClass" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MSSWS">
    <wsdl:port name="MSSWSSoap" binding="tns:MSSWSSoap">
      <soap:address location="https://localhost:44375/MSSWS.asmx" />
    </wsdl:port>
    <wsdl:port name="MSSWSSoap12" binding="tns:MSSWSSoap12">
      <soap12:address location="https://localhost:44375/MSSWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>